<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.12/css/select2.min.css"/>
        <link rel="stylesheet" href="{{ '/css/style.css' }}" />
        {% block stylesheets %}{% endblock %}
    </head>
    <body style="background-color: #f6f8fd">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="{{ path('home') }}">Mon Agence</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a
                                class="nav-link {% if current_menu is defined and current_menu == 'properties' %}active{% endif %}"
                                href="{{ path('property.index') }}">
                            Acheter
                        </a>
                    </li>
                </ul>
                {% if app.user %}
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="{{ 'logout' }}" class="nav-link">Se déconnecter</a>
                        </li>
                    </ul>
                {% else %}
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="{{ 'login' }}" class="nav-link">Se connecter</a>
                        </li>
                    </ul>
                {% endif %}
            </div>
        </nav>
        {% block body %}{% endblock %}
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.12/js/select2.min.js"></script>
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
        <script src="https://use.fontawesome.com/89c12e3b69.js"></script>
        <script>
            $('select').select2({
            });
            /*$('#register-form').submit(function (event) {
                event.preventDefault();
                grecaptcha.reset();
                grecaptcha.execute();
            });
            function RecaptchaSubmit(token) {
                $('#register-form').submit();
            }*/
            // anonymous function lets us use private variables
            /*(function() {
                // remember the form
                var $form = $("#register-form");

                // whether we want to really submit the form or to trigger recaptcha
                var really = false;

                // when the form is submitted,
                $form.on("submit", function(e) {
                    // if we're really submitting then don't do anything
                    if (really) {
                        return;
                    }

                    // don't submit
                    e.preventDefault();

                    // start recaptcha
                    grecaptcha.reset();
                    grecaptcha.execute();
                });

                // set up a "recaptchaSubmit" function for recaptcha to call when it completes
                window.recaptchaSubmit = function(token) {
                    // from here on we should really submit the form
                    really = true;

                    // trigger a second submit
                    $form.submit();
                };
            })();*/
        </script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
